@import url('https://fonts.googleapis.com/css?family=Kelly+Slab:regular');
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
body {
  color: rgb(27, 27, 27);
  font-family: 'Kelly Slab', sans-serif;
  font-size: 16px;
  line-height: 1;
}
img {
  max-width: 100%;
}
p {
  line-height: 1.5;
  opacity: 0.8;
}
button {
  background: transparent;
  font-family: inherit;
  color: inherit;
}
.wrapper {
  background-image: url('../images/page-texture.jpg');
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}
.menu {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
}
.menu.hidden {
  opacity: 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 50px;
}
.icon {
  margin: 15px 0px 20px;
}
.sub-title {
  font-size: 30px;
  text-transform: uppercase;
}
.container {
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 765px;
  margin: 0px auto;
}
.section-title {
  font-size: 26px;
  text-align: center;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.point {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}
.point__content {
  display: grid;
  grid-template-columns: 1fr auto 70px;
  align-items: center;
  gap: 10px;
}
.point__title {
  line-height: 1.1;
  padding-bottom: 3px;
}
.point__info {
  text-align: right;
  font-weight: 700;
}
.point__image-container {
  margin: 0px auto;
  aspect-ratio: 1;
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}
.point__image-container.active {
  margin: 15px auto;
  height: 300px;
}
.point__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.point__button {
  align-self: center;
  font-size: 16px;
  text-decoration: underline;
  position: relative;
}
.point__button:active {
  opacity: 0.5;
}
.point__button::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgb(20, 20, 20) transparent transparent transparent;
}
.point__button.active::after {
  transform: rotate(180deg);
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader::after {
  content: '';
  display: block;
  width: 30px;
  aspect-ratio: 1;
  border: 3px solid rgba(88, 88, 88, 0.25);
  border-top-color: rgb(0, 0, 0);
  border-radius: 50%;
  animation: load 1s infinite;
}
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}