@import url('https://fonts.googleapis.com/css?family=Kelly+Slab:regular');
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  color: white;
  font-family: 'Kelly Slab';
  line-height: 1;
}
button {
  background: transparent;
  font-family: inherit;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px;
}
.bg {
  position: fixed;
  width: 100%;
  height: 1300px;
  background-position: right;
  background-image: url('../images/background.jpg');
  background-size: cover;
  z-index: -1;
}
.wrapper {
  min-width: 320px;
  overflow: hidden;
}
.menu__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 765px;
  margin: 0px auto;
  padding: 30px 15px;
  position: relative;
}
.menu__container::after {
  content: '';
  width: calc(100% - 30px);
  height: 2px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translateX(50%);
}
.menu {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}
.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__title {
  font-size: 50px;
}
.menu__icon {
  margin: 15px 0px 20px;
}
.menu__sub-title {
  font-size: 30px;
  text-transform: uppercase;
}
.menu__sub-title, .menu__point-price {
  text-decoration: underline rgb(255, 181, 21) 3px;
}
.menu__section-title {
  font-size: 26px;
  text-align: center;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu__point {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu__point-content {
  display: grid;
  grid-template-columns: 1fr auto 70px;
  align-items: center;
  gap: 10px;
}
.menu__point-title {
  font-size: 20px;
  padding-bottom: 2px;
}
.menu__point-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}
.menu__point-weight, .menu__point-price {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.menu__point-image-container {
  margin: 15px auto;
  height: 300px;
  aspect-ratio: 1;
  display: none;
}
.menu__point-image-container.active {
  display: block;
}
.menu__point-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu__point-button {
  align-self: center;
  font-size: 16px;
  text-decoration: underline;
  position: relative;
}
.menu__point-button::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgb(172, 172, 172) transparent transparent transparent;
}
.menu__point-button.active::after {
  transform: rotate(180deg);
}
